.Music-home-footer {
  height: .98rem;
  border-top: 1px solid #fbfbfb; }

.Music-home-footer-left {
  display: flex; }
  .Music-home-footer-left img {
    width: 1.0rem;
    height: 1.0rem;
    border-radius: 50%;
    margin-left: 0.2rem; }
  .Music-home-footer-left div {
    padding-left: .2rem; }
