.Music-home-header p {
  width: 94%;
  margin-left: 3%;
  background: #2bab6e;
  text-align: center;
  padding: .11rem 0;
  font-size: .3rem; }

.Music-header {
  height: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .Music-header div span {
    padding: .25rem; }

.active {
  color: #fff; }
